@import "tailwindcss";

@config "./tailwind.config.js";

@source "./**/*.{html,js,ts,jsx,tsx}";

.link {
    @apply text-standart_a cursor-pointer select-none hover:scale-[1.05] active:scale-[0.95] transition-transform duration-200
}
/* карточка */
.art {
    @apply snap-start shrink-0 w-[480px] bg-white
}
.art img {
    @apply w-full aspect-square object-cover
}
.art h3 {
    @apply font-semibold
}
.art > div {
    @apply p-4
}
.art p {
    @apply text-sm text-gray-600
}
#slider {
  scroll-snap-type: x mandatory;
}


.sec3 {
  @apply overflow-hidden aspect-square active:scale-[0.95] transition-transform duration-100
}
.sec3 img {
  @apply h-full w-full object-cover object-left
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
/* шрифты */
@layer base {
    @font-face {
        font-family: 'Oddval';
        src: local('Oddval SemiBold'), local('Oddval-SemiBold'),
        url('/fonts/Oddval-SemiBold.woff2') format('woff2'),
        url('/fonts/Oddval-SemiBold.woff') format('woff'),
        url('/fonts/Oddval-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-display: swap;
    }
}